body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #001F3F;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  color: deepskyblue;
}

.NavBar {
  display: flex;
  padding: 20px;
  background-color: black;
  vertical-align: middle;
  line-height: 30px;
}

.NavBar > * {
  margin: 0 10px;
}

.NavBar > a {
  color: lightgrey;
}

.NavBar > a.active {
  color: #21CC40;
}

.flightInfo {
  color: black;
}

.WelcomePage {
  display:flex;
  flex-direction: column;
  text-align: center;
  justify-content:center;
}

/* ------ input page ------ */

.AviationInput{
  display:flex;
  flex-direction: column;
  text-align: center;
  justify-content:center;
}

.avuserInput{
  display:flex;
  flex-direction: row;
  text-align: center;
  justify-content:center;
  margin-bottom: 7px;
}

.fightNum{
  margin-right: 7px;
  
}

.aircraftReg{
  margin-left: 7px;
}

/* ------ search page ------ */
.CoreAviationSearch {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
}

.search-header{
  text-align: center;
}

.CoreAviationSearch > * {
  padding: 10px;
  flex: 1 100%;
}

@media all and (min-width: 800px) {
  .search-main    { flex: 3 0px; }
  .search-div-1 { order: 1; } 
  .search-main    { order: 2; }
}

.flightInfo{
  background-attachment:	#6975A6;
  color: white;
  font-size: 150%;
  margin: 0;
  padding: 3px;
  display: flex;  
  flex-flow: column;
}

.flightInfoHeader{
  background-color:	#6975A6;
  color: white;
  margin-bottom: 7px;
}

.flightInfoHeaderFlight {
  font-weight: bold;
  color: 	#FF7F50;
  font-size: 150%;
  padding: 7px;
}

.flightInfoHeaderAirline {
  font-size: 120%;
  padding-left: 7px;
  padding-bottom: 7px;
}

.flightInfoDestination{
  background-color:	#6975A6;
  color: white;
  text-align: center;
  display: flex;  
  flex-flow: row;
  justify-content: space-evenly;
  
}

.flightInfoDestination div {
  background-color:	#6975A6;
  color: white;
  text-align: center;
  margin-bottom: 7px;
  font-weight: bold;
  font-size: 150%;
  display: flex;  
  vertical-align: middle;
}

.flightInfoDestinationTitle{
  background-color:	#6975A6;
  color: white;
  text-align: center;
  margin-bottom: 7px;
  display: flex;  
  flex-flow: row;
  justify-content: space-around;
  padding-bottom: 7px;
}

.flightInfoDestinationTitle * {
  font-size: 90%;
}

.flightInfoModel {
  background-color:	#6975A6;
  color: white;
  flex-flow: column;
}

.flightInfoModelTitle {
  font-size: 80%;
  padding-left: 7px;
  padding-top: 7px;
}

.flightInfoModelType {
  text-align: center;
  font-size: 120%;
  font-weight: bold;
}

.flightInfoDetail{
  background-color:	#6975A6;
  color: white;
}

.flightInfoSpeed {
  background-color:	#6975A6;
  color: white;
  flex-flow: column;
}

.flightInfoSpeedTitle {
  font-size: 80%;
  padding-left: 7px;
}

.flightInfoSpeedNum {
  text-align: center;
  font-weight: bold;
}

.gm-style-iw {
  display: flex;
}

