body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #001F3F;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  color: deepskyblue;
}

.NavBar {
  display: flex;
  padding: 20px;
  background-color: black;
}

.NavBar > * {
  margin: 0 10px;
}

.NavBar > a {
  color: lightgrey;
}

.NavBar > a.active {
  color: #21CC40;
}

.flightInfo {
  color: black;
}

.WelcomePage {
  display:flex;
  flex-direction: column;
  text-align: center;
  justify-content:center;
}

/* ------ input page ------ */

.AviationInput{
  display:flex;
  flex-direction: column;
  text-align: center;
  justify-content:center;
}

.avuserInput{
  display:flex;
  flex-direction: row;
  text-align: center;
  justify-content:center;
  margin-bottom: 5px;
}

.fightNum{
  margin-right: 5px;
  
}

.aircraftRegi{
  margin-left: 5px;
}

/* ------ search page ------ */
.CoreAviationSearch {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
}

.search-header{
  text-align: center;
}

.CoreAviationSearch > * {
  padding: 10px;
  flex: 1 100%;
}

@media all and (min-width: 800px) {
  .search-main    { flex: 3 0px; }
  .search-div-1 { order: 1; } 
  .search-main    { order: 2; }
}

.flightInfo{
  font-weight: bold;
  font-size: 150%;
  margin: 0;
}